@model LiverpoolFanSite.Web.ViewModels.Posts.PostViewModel

@{
    this.ViewData["Title"] = Model.Title;

    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);

        if (!comments.Any())
        {
            return;
        }
        @foreach (var comment in comments)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <div class="media forum-item">
                        <a href="javascript:void(0)" class="card-link">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" width="50" alt="User" />
                        </a>
                        <div class="media-body ml-3">
                            <a href="javascript:void(0)" class="text-secondary">@comment.UserUserName</a>
                            <small class="text-muted ml-2"><i class="fas fa-calendar-check"></i> <time datetime="@comment.CreatedOn.ToString("O")"></time></small>
                            <div class="mt-3 font-size-sm">
                                <article>
                                    @Html.Raw(comment.SanitizedContent)
                                </article>
                                @{ DisplayComments(comment.Id); }
                            </div>
                        </div>
                        <div class="text-muted small text-center">
                        </div>
                    </div>
                    <div class="px-4 pt-3">
                        <button class="btn btn-primary" onclick="reply(@comment.Id)" style="float: right;"><i class="fa fa-plus"></i>  Reply</button>
                    </div>
                </div>
            </div>
        }
    }
}
<h1 class="text-sm-center" style="padding:20px">@Model.Title</h1>
<div class="inner-main-body forum-content" style="padding:20px">
    <a href="#" class="btn btn-info btn-sm mb-3 has-icon" data-toggle="collapse" data-target=".forum-content" onclick="goBack()"><i class="fa fa-arrow-left mr-2"></i>Back</a>
    <div class="card mb-2">
        <div class="card-body">
            <div class="media forum-item">
                <a href="javascript:void(0)" class="card-link">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" width="50" alt="User" />
                </a>
                <div class="media-body ml-3">
                    <a href="javascript:void(0)" class="text-secondary">@Model.UserUserName</a>
                    <small class="text-muted ml-2"><i class="fas fa-calendar-check"></i> <time datetime="@Model.CreatedOn.ToString("O")"></time></small>
                    <h5 class="mt-1">@Model.Title</h5>
                    <div class="mt-3 font-size-sm">
                        <article>
                            @Html.Raw(Model.SanitizedContent)
                        </article>
                        @{ DisplayComments(null);}
                    </div>
                </div>
            </div>
            <div class="px-4 pt-3">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-primary" onclick="reply(0)" f><i class="fa fa-plus"></i>  Reply</button>
                }
            </div>
        </div>
    </div>


    <div class="card mb-2">
        <form asp-controller="Comments" asp-action="Create" method="post" id="add-comment" style="display:none">
            <input type="hidden" name="PostId" value="@this.Model.Id" />
            <input type="hidden" name="ParentId" value="0" />
            <div class="card-body">
                <div class="media forum-item">
                    <a href="javascript:void(0)" class="card-link">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" width="50" alt="User" />
                    </a>
                    <div class="media-body ml-3">
                        <a href="javascript:void(0)" class="text-secondary">drewdan</a>
                        <div class="form-group">
                            <label for="Content">Content <span class="require">*</span></label>
                            <textarea name="Content" id="Content" class="form-control" rows="10"></textarea>
                        </div>
                        <div class="px-4 pt-3">
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i>  Reply</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function goBack() {
        window.history.back();
    }

    function reply(parentId) {
        $("#add-comment input[name='ParentId']").val(parentId);
        $('#add-comment').show();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#add-comment").offset().top
        }, 1500);
    }
</script>
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media fullscreen wordcount searchreplace lists"
        ]
    });
</script>
