@using LiverpoolFanSite.Common
@model LiverpoolFanSite.Web.ViewModels.Forum.IndexViewModel

@{
    this.ViewData["Title"] = "LFC Forum";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>

    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg">Create new forum post</a>
</div>
<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4 media" style="padding:20px" width="100">
            <img src="@category.ImageUrl" width="150" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0">
                    <a href="@category.Url">
                        @category.Title (@category.PostsCount)
                    </a>
                </h5>
                @category.Description
            </div>
        </div>
    }
</div>
