@using LiverpoolFanSite.Common
@model LiverpoolFanSite.Web.ViewModels.Players.PlayersListViewModel

@{
    this.ViewData["Title"] = "First Team Players  , page "; /*+ Model.PageNumber;*/
}
<form method="get" asp-controller="Teams" asp-action="Search">
    <div class="input-group" style="padding:20px">
        <input asp-for="SearchTerm" type="text" class="form-control rounded" placeholder="Search..." />
        <button type="submit" class="btn btn-dark" id="SearchPlayer">Search player</button>
    </div>
</form>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="text-xl-center" style="padding:20px">
        <a asp-controller="Teams" asp-action="Create" class="btn btn-primary btn-lg">Add Player</a>
    </div>
}
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">First Team Players</h2>
        </div>
        <div class="row">
            @foreach (var player in this.Model.Players)
            {
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="@player.ImageUrl" alt="" />
                        <h4><a asp-action="ById" asp-route-id="@player.Id">@player.FirstName @player.LastName</a></h4>
                        <p class="text-muted">@player.Position</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<hr />
<partial name="_PaggingPartial" model="@Model" />

<script>
    let btn = document.getElementById('SearchPlayer').addEventListener('click', () => {
        btn.placeholer = "Search...";
    })
</script>
