@model LiverpoolFanSite.Web.ViewModels.Players.SinglePlayerViewModel;

<hr />
<div class="timeline-image"><img class="rounded-circle img-fluid" src="@Model.ImageUrl" style="float:left" /></div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h1 style="color:red">@Model.FirstName @Model.LastName</h1>
        <h3 class="subheading">@Model.Position</h3>
        <h3 class="subheading">@Model.ShirtNumber</h3>
    </div>
    <hr />
    <div class="timeline-body">
        <h5 class="text-muted">Date Of Birth: @Model.DateOfBirth.ToShortDateString()</h5>
        <h5 class="text-muted">Place Of Birth: @Model.PlaceOfBirth</h5>
        <h5 class="text-muted">Signed: @Model.Signed</h5>
        <h5 class="text-muted">Appearances: @Model.Appearances</h5>
        <h5 class="text-muted">Goals : @Model.Goals</h5>
        <h5 class="text-muted">Biography</h5>
        <p>@Model.Description</p>
    </div>
</div>